In [3]:
import pandas as pd
file_path = '/mnt/data/house price data.csv'
df = pd.read_csv("C:/Users/harik/OneDrive/Desktop/project/house price data.csv")
df.head(), df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4600 entries, 0 to 4599
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           4600 non-null   object
 1   price          4600 non-null   float64
 2   bedrooms       4600 non-null   float64
 3   bathrooms      4600 non-null   float64
 4   sqft_living    4600 non-null   int64
 5   sqft_lot       4600 non-null   int64
 6   floors         4600 non-null   float64
 7   waterfront     4600 non-null   int64
 8   view           4600 non-null   int64
 9   condition      4600 non-null   int64
 10  sqft_above     4600 non-null   int64
 11  sqft_basement  4600 non-null   int64
 12  yr_built       4600 non-null   int64
 13  yr_renovated   4600 non-null   int64
 14  street         4600 non-null   object
 15  city           4600 non-null   object
 16  statezip       4600 non-null   object
 17  country        4600 non-null   object
dtypes: float64(4), int64(9), object(5)
memory usage: 647.0+ KB

(                  date      price  bedrooms  bathrooms  sqft_living  sqft_lot  \
 0  2014-05-02 00:00:00   313000.0       3.0       1.50         1340      7912
 1  2014-05-02 00:00:00  2384000.0       5.0       2.50         3650      9050
 2  2014-05-02 00:00:00   342000.0       3.0       2.00         1930     11947
 3  2014-05-02 00:00:00   420000.0       3.0       2.25         2000      8030
 4  2014-05-02 00:00:00   550000.0       4.0       2.50         1940     10500

    floors  waterfront  view  condition  sqft_above  sqft_basement  yr_built  \
 0     1.5           0     0          3        1340              0      1955
 1     2.0           0     4          5        3370            280      1921
 2     1.0           0     0          4        1930              0      1966
 3     1.0           0     0          4        1000           1000      1963
 4     1.0           0     0          4        1140            800      1976

    yr_renovated                    street       city  statezip country
 0          2005      18810 Densmore Ave N  Shoreline  WA 98133     USA
 1             0           709 W Blaine St    Seattle  WA 98119     USA
 2             0  26206-26214 143rd Ave SE       Kent  WA 98042     USA
 3             0           857 170th Pl NE   Bellevue  WA 98008     USA
 4          1992         9105 170th Ave NE    Redmond  WA 98052     USA  ,
 None)

In [5]:
df_cleaned = df.drop_duplicates()
X = df_cleaned.drop(columns=['price'])
y = df_cleaned['price']
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((3680, 17), (920, 17), (3680,), (920,))

In [9]:
# Drop non-numeric columns
X_train_numeric = X_train.drop(columns=['date', 'street', 'city', 'statezip', 'country'])
X_test_numeric = X_test.drop(columns=['date', 'street', 'city', 'statezip', 'country'])

# Re-train the linear regression model with numeric data only
model.fit(X_train_numeric, y_train)

# Predict on the numeric testing set
y_pred = model.predict(X_test_numeric)

# Calculate accuracy metrics
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

mse, r2

(986921767056.1471, 0.03228385663275535)

In [37]:
import pandas as pd
from sklearn.metrics import mean_absolute_error

# Load the test dataset
test_data = pd.read_csv("C:/Users/harik/OneDrive/Desktop/project/house price data.csv")  # Replace with your actual test dataset path

# Preprocess the test data (drop or transform columns as done for the training data)
test_data_cleaned = test_data.drop(columns=['date', 'street', 'city', 'statezip', 'country'])

# Separate features (X_test) and target (y_test) in the test dataset
X_test = test_data_cleaned.drop(columns=['price'])
y_test = test_data_cleaned['price']

In [55]:
from sklearn.model_selection import cross_val_score
import numpy as np

# Initialize the model
model = LinearRegression()